@model Restaurent.Manager.Models.PagingModel<Restaurent.Manager.Models.Datas.User>
@{
    ViewData["Title"] = "Employee Page";
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <select class="form-control search-val" name="role">
                            <option value=""> -- All user -- </option>
                            @if (ViewData["role"]?.ToString() == "waiter")
                            {
                                <option value="waiter" selected> -- Waiter -- </option>
                                <option value="chef"> -- Chef -- </option>
                            }
                            else if (ViewData["role"]?.ToString() == "chef")
                            {
                                <option value="waiter"> -- Waiter -- </option>
                                <option value="chef" selected> -- Chef -- </option>
                            }
                            else
                            {
                                <option value="waiter"> -- Waiter -- </option>
                                <option value="chef"> -- Chef -- </option>
                            }
                        </select>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <input class="form-control search-val" placeholder="search order..." name="searchKey" value="@ViewData["searchKey"]" />
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group text-right">
                        <a class="btn btn-primary btn-add-modal" href="@Url.Action("AddModal", "Employee")">Create new</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive bg-white" style="border-radius: 10px; overflow: hidden;">
                <table class="table table-hover mb-1">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Full name</th>
                            <th class="text-center">Role</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Birthday</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr>
                                <td class="text-center">#@item.Id</td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">@item.Role</td>
                                <td class="text-center">@item.Email</td>
                                <td class="text-center">@item.Phone</td>
                                <td class="text-center">@item.Birthday?.ToString("dd-MM-yyyy")</td>
                                <td class="text-right">
                                    <img src="/images/icons/pencil.png" class="cursor-pointer" width="20" height="20"/>
                                    <img src="/images/icons/trash.png" class="cursor-pointer ml-2" width="20" height="20" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination justify-content-center mb-1 pt-1" style="border-top: 2px solid #00000030">
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Employee", new { searchKey = ViewData["searchKey"], role = ViewData["role"], page = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>