@model Restaurent.Manager.Models.PagingModel<Restaurent.Manager.Models.Datas.Table>
@{
    ViewData["Title"] = "Table Page";
    bool? status = (bool?)ViewData["status"];
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <select class="form-control search-val" name="status">
                            <option> -- All table -- </option>
                            @if (status == true)
                            {
                                <option value="true" selected> -- Table can use -- </option>
                            }
                            else
                            {
                                <option value="true"> -- Table can use -- </option>
                            }
                            @if (status == false)
                            {
                                <option value="false" selected> -- Table disabled -- </option>
                            }
                            else
                            {
                                <option value="false"> -- Table disabled -- </option>
                            }
                        </select>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <input class="form-control search-val" placeholder="search table..." name="searchKey" value="@ViewData["searchKey"]" />
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group text-right">
                        <a class="btn btn-primary btn-add-modal" href="@Url.Action("AddOrEditModal", "Table")">Create new</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive bg-white" style="border-radius: 10px; overflow: hidden;">
                <table class="table table-hover mb-1">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr>
                                <td class="text-center">#@item.Id</td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">
                                    @if (!item.Status)
                                    {
                                        <strong class="text-danger">Disabled</strong>
                                    }
                                    else
                                    {
                                        <strong class="text-success">Can use</strong>
                                    }
                                </td>
                                <td class="text-right">
                                    <a class="btn-edit-modal" href="@Url.Action("AddOrEditModal", "Table", new {tableId = item.Id})">
                                        <img src="/images/icons/pencil.png" class="cursor-pointer" width="20" height="20" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination justify-content-center mb-1 pt-1" style="border-top: 2px solid #00000030">
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Table", new { searchKey = ViewData["searchKey"], status, page = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>