@model Restaurent.Manager.Models.PagingModel<Restaurent.Manager.Models.Datas.Food>
@{
    ViewData["Title"] = "Order Page";
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-12">
           <form>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <select class="form-control search-val" name="type">
                            <option value=""> -- All dish -- </option>
                            @if (ViewData["type"]?.ToString() == "1")
                            {
                                <option value="1" selected> -- Salad -- </option>
                            }
                            else
                            {
                                <option value="1"> -- Salad -- </option>
                            }
                            @if (ViewData["type"]?.ToString() == "2")
                            {
                                <option value="2" selected> -- Beef -- </option>
                            }
                            else
                            {
                                <option value="2"> -- Beef -- </option>
                            }
                            @if (ViewData["type"]?.ToString() == "3")
                            {
                                <option value="3" selected> -- Desserts -- </option>
                            }
                            else
                            {
                                <option value="3"> -- Desserts -- </option>
                            }
                            @if (ViewData["type"]?.ToString() == "4")
                            {
                                <option value="4" selected> -- Drinks -- </option>
                            }
                            else
                            {
                                <option value="4"> -- Drinks -- </option>
                            }
                        </select>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <input class="form-control search-val" placeholder="search order..." name="searchKey" value="@ViewData["searchKey"]" />
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group text-right">
                        <a class="btn btn-primary btn-add-modal" href="@Url.Action("AddModal", "Dish")">Create new</a>
                    </div>
                </div>
           </form>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive bg-white" style="border-radius: 10px; overflow: hidden;">
                <table class="table table-hover mb-1">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr>
                                <td class="text-center">#@item.Id</td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">
                                    @if (item.TypeId == 1)
                                    {
                                        <span>Salad</span>
                                    }
                                    else if (item.TypeId == 2)
                                    {
                                        <span>Beef</span>
                                    }
                                    else if (item.TypeId == 3)
                                    {
                                        <span>Desserts</span>
                                    }
                                    else
                                    {
                                        <span>Drinks</span>
                                    }
                                </td>
                                <td class="text-center">@item.Price.FormatCurrency()</td>
                                <td class="text-center">
                                    @if (!item.Status)
                                    {
                                        <strong class="text-danger">Sold out</strong>
                                    }
                                    else
                                    {
                                        <strong class="text-success">Served</strong>
                                    }
                                </td>
                                <td class="text-right">
                                    <img src="/images/icons/pencil.png" class="cursor-pointer" width="20" height="20" />
                                    <img src="/images/icons/trash.png" class="cursor-pointer ml-2" width="20" height="20" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination justify-content-center mb-1 pt-1" style="border-top: 2px solid #00000030">
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Dish", new { searchKey = ViewData["searchKey"], type = ViewData["type"], page = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>