@using Restaurent.Manager.Models
@{
    var db = new AppDbContext();
    var currentId = User.Identity.Name;
    var currentUser = db.User.FirstOrDefault(x => x.Id.ToString() == currentId);
    var notifications = db.Notification.Where(x => x.UserId.ToString() == currentId)
                        .Where(x => x.CreatedAt.Date == DateTime.Now.Date).OrderByDescending(x => x.CreatedAt).ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurent.Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurent.Manager.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nav border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand p-0" asp-controller="Home" asp-action="Index">
                    <img src="/images/Logos/logo.png" height="60" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(Url.Action() == Url.Action("Index", "Home") ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Waiter"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(Url.Action() == Url.Action("Menu", "Home") || Url.Action() == Url.Action("Bill", "Home") ? "active" : "")" asp-controller="Home" asp-action="Menu">Menu</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(Url.Action() == Url.Action("Index", "Bill") ? "active" : "")" asp-controller="Bill" asp-action="Index">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Url.Action() == Url.Action("Index", "Employee") ? "active" : "")" asp-controller="Employee" asp-action="Index">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Url.Action() == Url.Action("Index", "Dish") ? "active" : "")" asp-controller="Dish" asp-action="Index">Dish</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Url.Action() == Url.Action("Index", "Table") ? "active" : "")" asp-controller="Table" asp-action="Index">Table</a>
                            </li>
                        }
                    </ul>
                    <div class="navbar-nav flex-grow-1">
                        <div class="position-relative noti-head">
                            <div class="position-relative">
                                <a href="#" class="nav-link"><img src="~/images/icons/bell.png" height="28px" /></a>
                                @if (notifications.Any(x => !x.IsRead))
                                {
                                    <div class="red-dot position-absolute"></div>
                                }
                            </div>
                            <div class="position-absolute noti-content">
                                @if (notifications.Any())
                                {
                                    @foreach (var item in notifications)
                                    {
                                        <a href="@Url.Action("Read", "Home", new {id = item.Id})" class="cursor-pointer noti-view d-block @(item.IsRead ? "":"unread")">
                                            <div class="py-2 px-3">
                                                <div class="d-flex">
                                                    <div style="height: 48px; width: 48px">
                                                        <img src="~/images/icons/fork.png" style="height: 100%; width: 100%; object-fit: cover" />
                                                    </div>
                                                    <div class="pl-3" style="flex: 1;">
                                                        <h6>@Html.Raw(item.Content)</h6>
                                                        <span style="font-size: 0.8rem">@item.CreatedAt.ToString("HH:mm")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <h6 class="text-center py-2">
                                        No notify to display!
                                    </h6>
                                }
                            </div>
                        </div>
                        <div class="avt position-relative">
                            <a href="#"><img src="@(string.IsNullOrEmpty(currentUser?.Avatar) ? "/images/no-image.png" : currentUser.Avatar)" height="45" /></a>
                            <div class="position-absolute logout-option">
                                <div class="user-info d-flex mb-2">
                                    <img src="@(string.IsNullOrEmpty(currentUser?.Avatar) ? "/images/no-image.png" : currentUser.Avatar)" height="60" />
                                    <div class="ml-3" style="flex: 1">
                                        <h4 style="width: 100%; overflow: hidden; text-overflow: ellipsis">@Html.Raw(currentUser.Name)</h4>
                                        <span class="role-span @currentUser.Role.ToLower()">@Html.Raw(currentUser.Role)</span>
                                    </div>
                                </div>
                                <a href="@Url.Action("Logout", "Auth")" style="color: #000; font-weight: 600">
                                    <img src="~/images/icons/logout.png" style="border-radius: 0 !important;" height="20" class="mr-2" />
                                    Log out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="px-3">
            @RenderBody()
        </main>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog position-relative" role="document">
            <div class="modal-content position-relative">
                <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close" style="right: 5px; top: 0; z-index: 1">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="modal-container"></div>
            </div>
            <div class="position-absolute spinner w-100 h-100 d-none" style="top: 0; left: 0; background-color: #00000040"></div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 20vh">
            <div class="modal-content p-3">
                <div class="row">
                    <div class="col-12">
                        <h4 id="confirm-message"></h4>
                    </div>
                    <div class="col-6 mt-3">
                        <a href="#" class="btn btn-success w-100" id="confirm-accept-btn" style="color: #FFF">Yes</a>
                    </div>
                    <div class="col-6 mt-3">
                        <button type="button" class="btn btn-danger w-100" data-dismiss="modal" aria-label="No">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="payment-danger-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 20vh">
            <div class="modal-content position-relative p-3">
                <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close" style="right: 5px; top: 0; z-index: 1">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-12">
                        <h6 class="message" style="color: #cf0000"><strong></strong> has not been return to the customer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
