@using Restaurent.Manager.Models.Datas
@model List<Bill>

@{
    ViewData["Title"] = "Home Page";
    var bill = Model.Where(x => x.Records.Any(f => f.Status == 1)).FirstOrDefault();
    if (ViewData["bill"] != null)
        bill = (Bill)ViewData["bill"];
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-7">
            <div class="d-flex">
                <div class="toolbar">
                    <div class="row m-0">
                        <div class="col-sm-6 options active" data-for="bill-inprogress"><span>In progress</span></div>
                        <div class="col-sm-6 options" data-for="bill-done"><span>Done</span></div>
                    </div>
                </div>
            </div>
            <div class="mt-0">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Index", "Home", new {choosed = item.Id})" class="bill-link table-view @(item.Records.Any(x => x.Status == 1) ? "bill-inprogress" : "bill-done d-none")">
                        <div class="py-2 my-1 px-3 order-border @(item.Id == bill?.Id ? "active" : "")">
                            <div class="d-flex">
                                <h4 style="flex: 1; margin: 0">Order: #@item.Id</h4>
                                <span>@item.CreatedAt.ToString("HH:mm")</span>
                            </div>
                            <label class="m-0">Table: <strong>@item.Table.Name</strong></label>
                            <div class="d-flex">
                                <div style="flex: 1">Items: @item.Records.Count()</div>
                                <div style="flex: 1" class="text-right">@item.SubTotal.FormatCurrency()</div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="col-md-5 d-none d-md-block">
            @if (bill != null)
            {
                <div class="order-detail p-3">
                    <div class="d-flex">
                        <div style="flex: 1">
                            <label>Order Id</label>
                            <h3>#@bill.Id</h3>
                        </div>
                        <div class="text-right">
                            <label>@bill.CreatedAt.ToString("HH:mm")</label>
                            <label class="d-block">Table: <strong>@bill.Table.Name</strong></label>
                        </div>
                    </div>
                    <hr />
                    <div class="dish-in-table">
                        @foreach (var item in bill.Records)
                        {
                            <div class="border-bottom py-2">
                                <h4 class="mb-0">@item.FoodName</h4>
                                <label class="mb-0">Quantity: <strong>2</strong></label>
                                <div class="d-flex act-content">
                                    <span style="flex: 1; display: inline-block">@item.Note</span>
                                    @if (item.Status == 3)
                                    {
                                        <span class="dish-status done">Done</span>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <a href="@Url.Action("Done", "Bill", new { billId = item.BillId, foodId = item.FoodId })" class="dish-status inprogres">In progress</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Progress", "Bill", new { billId = item.BillId, foodId = item.FoodId })" class="dish-status todo">To do</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>