@model List<Restaurent.Manager.Models.Datas.Table>
@{
    ViewData["Title"] = "Home Page";
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-9">
            <div class="d-flex h-100">
                <div class="toolbar">
                    <div class="row m-0">
                        <div class="col-sm-3 options active" data-for="all"><span>All table</span></div>
                        <div class="col-sm-3 options" data-for="table-vacant"><span>Occupied</span></div>
                        <div class="col-sm-3 options" data-for="table-odered"><span>Vacant</span></div>
                        <div class="col-sm-3 options" data-for="table-disabled"><span>Disabled</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <label class="d-block dot-content"><span class="dot green"></span> Vacant</label>
            <label class="d-block dot-content"><span class="dot blue"></span> Order on hold</label>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            var bill = item.Bills.OrderByDescending(x => x.CreatedAt).FirstOrDefault(x => !x.PaidAt.HasValue);
            <div class="col-6 col-md-4 col-lg-3 pt-3 table-view @(!item.Status? "table-disabled" : bill != null ? "table-vacant" : "table-odered")">
                <div class="s-table">
                    @if (item.Status)
                    {
                        <a href="@(bill == null ? Url.Action("Menu", "Home", new {id=item.Id}) : Url.Action("Bill", "Home", new { Id = bill.Id }))" class="@(item.Status ? "cursor-pointer" : "")">
                            <div class="p-4 @(bill == null ? "vacant" : "odered")">
                                <div class="d-flex w-100 content">
                                    <label class="d-block m-auto text-center">
                                        <span>@item.Name</span>
                                        @if (bill != null)
                                        {
                                            <br />
                                            <span>#@bill.Id</span>
                                        }
                                    </label>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="p-4 disable">
                            <div class="d-flex w-100 content">
                                <label class="d-block m-auto text-center">
                                    <span>@item.Name</span>
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>