@model Restaurent.Manager.Models.PagingModel<Restaurent.Manager.Models.Datas.Bill>
@{
    ViewData["Title"] = "Order Page";
    var createdAt = (DateTime?)ViewData["createdDate"];
    var status = (bool?)ViewData["status"];
}

<div class="pt-3">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <select class="form-control search-val" name="status">
                            <option value=""> -- All orders -- </option>
                            @if (status == true)
                            {
                                <option value="true" selected> -- Paid orders -- </option>
                                <option value="false"> -- Unpaid orders -- </option>
                            }
                            else if (status == false)
                            {
                                <option value="true"> -- Paid orders -- </option>
                                <option value="false" selected> -- Unpaid orders -- </option>
                            }
                            else
                            {
                                <option value="true"> -- Paid orders -- </option>
                                <option value="false"> -- Unpaid orders -- </option>
                            }
                        </select>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <input type="date" class="form-control search-val" name="createdDate" value="@createdAt?.ToString("yyyy-MM-dd")" placeholder="sort by date" />
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 form-group">
                        <input class="form-control search-val" placeholder="search order..." name="searchKey" value="@ViewData["searchKey"]" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive bg-white" style="border-radius: 10px; overflow: hidden;">
                <table class="table table-hover mb-1">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Table</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr class="cursor-pointer view-bill" data-id="@item.Id">
                                <td class="text-center">#@item.Id</td>
                                <td class="text-center">@item.Table.Name</td>
                                <td class="text-center">@item.CreatedAt.ToShortDateString()</td>
                                <td class="text-center">@item.Total.FormatCurrency()</td>
                                <td class="text-center">
                                    @if (!item.PaidAt.HasValue)
                                    {
                                        <strong class="text-danger">Unpaid</strong>
                                    }
                                    else
                                    {
                                        <strong class="text-success">Paid</strong>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination justify-content-center mb-1 pt-1" style="border-top: 2px solid #00000030">
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Bill", new { searchKey = ViewData["searchKey"], status, createdAt, page = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["BillId"] != null)
    {
        var id = (int)TempData["BillId"];
        <script type="text/javascript">
            $.ajax({
                url: '@Url.Action("PaymentModal", "Home", new { id, confirm = true })'
            }).done((res) => {
                $('#modal').find('.modal-dialog').addClass('modal-lg');
                $('#modal-container').html(res);
                $('#modal').modal('show');
            });
        </script>
    }
}